/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';

.app-root{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

