/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';
@import '~highlight.js/styles/default.css';

.app-root {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
}

.content{
    flex: 1;
    overflow: auto;
}

.content::-webkit-scrollbar{
    width: 2px;
}

.content::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 2px;
    background-color: black;
  }

.hljs-ln td:first-of-type {
    border-right: black 0.5px solid;
    padding-right: 4px;
}

.hljs-ln td:nth-of-type(2) {
    padding-left: 4px;
}

